
<!-- sidebar menu -->

<!-- <div class="ui left vertical inverted labeled icon sidebar visible menu"> -->
<div class="ui sidebar">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    History
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="chat icon"></i>
    Discussions
  </a>
  <a class="item">
    <i class="trophy icon"></i>
    Achievements
  </a>
  <a class="item">
    <i class="shop icon"></i>
    Store
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>

<!-- /sidebar menu -->

<div class="pusher">

  <div class="ui black vertical segment cover">

    <!-- top menu -->

    <div class="ui fixed menu">
      <a class="header item">
        <i class="icon marker"></i>
        RM
      </a>
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="item">
        <i class="icon users"></i>
        Join a group
        <span class="ui small teal label">New</span>
      </a>
      <div class="right menu">
        <a class="item">
          <i class="icon inbox"></i>
          Messages
          <span class="ui small red label">5</span>
        </a>
        <a class="item">
          <i class="icon user"></i>
          Your profile
        </a>
        <a class="item togglebar">
          Logout
        </a>
      </div>
    </div>

    <!-- /top menu -->
    <!-- content -->

    <div class="ui page grid">

      <!-- signup form -->

      <div class="eight wide column left floated">

        <!-- welcome message -->

        <div class="ui attached message">
          <div class="header">
            <i class="icon marker"></i>
            Welcome to Running Map.
          </div>
          <img class="ui image" src="<%= asset_path('map.png') %>" alt="">
          <p>Fill out the form below to sign-up for a new account</p>
        </div>

        <!-- /welcome message -->

        <form class="ui form attached fluid segment">
          <div class="two fields">
            <div class="field">
              <label>Username</label>
              <input placeholder="Username" type="text">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password">
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" id="terms">
              <label for="terms">I agree to the terms and conditions</label>
            </div>
          </div>
          <div class="ui blue submit button">Submit</div>
        </form>
        <div class="ui bottom attached warning message">
          <i class="icon help"></i>
          Already signed up? <a href="#">Login here</a> instead.
        </div>
      </div>

      <!-- /signup form -->

    </div>

    <!-- /content -->
    <!-- footer -->

    <div class="ui fixed inverted menu bottom">
      <div class="menu">
        <a class="item">
          FAQ
        </a>
        <a class="item">
          Support
        </a>
        <a class="item">
          Privacy and terms
        </a>
        <a class="item">
          Disclaimer
        </a>
      </div>
    </div>

    <!-- /footer -->

  </div>

</div>