// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "semantic-ui";

@import "semantic-ui/globals/reset";
@import "semantic-ui/globals/site";

// @import "semantic-ui/collections/breadcrumb";
@import "semantic-ui/collections/form";
@import "semantic-ui/collections/grid";
@import "semantic-ui/collections/menu";
@import "semantic-ui/collections/message";
// @import "semantic-ui/collections/table";

@import "semantic-ui/elements/button";
// @import "semantic-ui/elements/divider";
// @import "semantic-ui/elements/flag";
@import "semantic-ui/elements/header";
@import "semantic-ui/elements/icon";
@import "semantic-ui/elements/image";
@import "semantic-ui/elements/input";
@import "semantic-ui/elements/label";
// @import "semantic-ui/elements/list";
// @import "semantic-ui/elements/loader";
@import "semantic-ui/elements/rail";
// @import "semantic-ui/elements/reveal";
@import "semantic-ui/elements/segment";
// @import "semantic-ui/elements/step";

// @import "semantic-ui/modules/accordion";
// @import "semantic-ui/modules/chatroom";
@import "semantic-ui/modules/checkbox";
// @import "semantic-ui/modules/dimmer";
// @import "semantic-ui/modules/dropdown";
// @import "semantic-ui/modules/modal";
// @import "semantic-ui/modules/nag";
// @import "semantic-ui/modules/popup";
// @import "semantic-ui/modules/progress";
// @import "semantic-ui/modules/rating";
@import "semantic-ui/modules/search";
// @import "semantic-ui/modules/shape";
@import "semantic-ui/modules/sidebar";
// @import "semantic-ui/modules/sticky";
// @import "semantic-ui/modules/tab";
// @import "semantic-ui/modules/transition";
// @import "semantic-ui/modules/video";

// @import "semantic-ui/views/ad";
@import "semantic-ui/views/card";
// @import "semantic-ui/views/comment";
// @import "semantic-ui/views/feed";
// @import "semantic-ui/views/item";
// @import "semantic-ui/views/statistic";

.cover {
    background: #fafafa url(image-path("run2.jpg")) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    .intro {
        padding-top: 50px;
    }
}

// footer

.ui .fixed .bottom {
    bottom: 0;
}

// design helpers

.xxx {
    background-color: #f06;
}

.yyy {
    background-color: #ff0;
}

.zzz {
    background-color: #369;
}